storage
dist
node_modules
yarn-error.log
yarn.lock
package-lock.json
.turbo
*.tsbuildinfo
out
cache
.env*
!.env.example
/apps/backend/config.ts
/config.ts
/apps/backend/config.json
/config.json
state.json
*.pem
*.key
docker-compose.yml
