<div>
  <p>Hello {{displayname}},</p>
  <p>
    A new user has signed into your Permafrost account via {{method}} in
    {{location}}. If this was you, you can safely disregard this email.
  </p>
  <p>
    If you have not signed in, please take action immediately. This includes:
  </p>
  <ul>
    <li>Resetting your password</li>
    <li>Resetting (or enabling) two-factor authentication</li>
    <li>Logging out of all active sessions</li>
    <li>
      If this login was performed via an external authorization provider,
      updating your credentials on that provider, or removing that provider from
      your account.
    </li>
  </ul>
  <p>
    We take account security seriously, and we hope you do as well. If you did
    not create this session and do not enact any of these countermeasures, your
    account may be considered compromised and may be locked or disabled. If you
    have any questions or concerns, please contact us at
    <a href="mailto:help@snowflake.blue">help@snowflake.blue</a> or contact an
    administrator in the Permafrost Discord server.
  </p>
  <p>Thank you,<br />Permafrost Team</p>
  <p><a href="https://id.snowflake.blue/">https://id.snowflake.blue</a></p>
</div>
